.card-img-top {
  width: 100%;
  object-fit: cover;

}
.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.badge {
  font-size: 0.85rem;
}

.product-card {
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}