<div class="card h-100 product-card" itemscope itemtype="https://schema.org/Product">
  <meta itemprop="sku" [content]="product.sku" />
  <meta itemprop="mpn" [content]="product.id" />
  
  @if(product.images && product.images.length > 0) {
    <img [src]="product.images[0].url" class="card-img-top" loading="lazy" (click)="navigateToProduct(product.slug)" loading="lazy" [alt]="product.name" itemprop="image" />
  }

  <div class="card-body d-flex flex-column" (click)="navigateToProduct(product.slug)">
    <h5 class="card-title text-truncate" itemprop="name" data-bs-toggle="tooltip">{{ product.name }}</h5>
    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="card-text" itemprop="brand"><span class="">SKU</span>: {{ product.sku | uppercase}}</span>
      <span class="card-text"><span itemprop="brand">{{ product.brand.name | uppercase}}</span></span>
    </div>

  </div>
   <!-- Push price + button to bottom -->
    <div class="mt-auto d-flex justify-content-between align-items-center border-top p-2">
      <span class="fw-bold" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <meta itemprop="priceCurrency" content="INR" />
        <span itemprop="price">₹{{ product.price }}</span>
      </span>
      <button class="btn btn-outline-primary btn-sm" (click)="addToCart(product._id)" [disabled]="product.stock === 'in' ? '' : product.stock <= 0">Add to Cart</button>
    </div>
</div>
