<div class="product-card" (click)="navigateToProduct(product.slug)">

  <!-- Wishlist -->
  <button 
    class="wishlist-btn"
    (click)="toggleWishlist(); $event.stopPropagation()"
    [class.active]="isWishlisted()"
  >
    <i class="bi" [class.bi-heart]="!isWishlisted()" [class.bi-heart-fill]="isWishlisted()"></i>
  </button>

  <!-- Product Image -->
  <div class="image-wrapper">
    <img 
      [src]="product?.images?.[0]?.url" 
      [alt]="product?.name"
      loading="lazy"
    />
  </div>

  <!-- Product Info -->
  <div class="info">
    <h3 class="name">{{ product?.name }}</h3>

    <!-- Price -->
    <div class="price-box">
      <span class="price">₹{{ product?.price | number:'1.0-0' }}</span>
      @if(product?.oldPrice) {
      <span class="old-price">
        ₹{{ product?.oldPrice | number:'1.0-0' }}
      </span>
      }
      @if(product?.oldPrice) {
        <span class="discount" >
          {{
            ((product?.oldPrice - product?.price) / product?.oldPrice * 100) 
            | number:'1.0-0'
          }}% OFF
        </span>
      }
    </div>

    <!-- Rating -->
    @if(product?.rating) {
      <div class="rating">
        <i class="bi bi-star-fill"></i>
        <span>{{ product?.rating }}</span>
      </div>
    }

  </div>
</div>
