
<app-pop-up [isOpen]="true" (close)="false" animation="bottom">
  <div class="order-success-content">
  <div class="success-icon">✅</div>
  <h2>Order Placed Successfully!</h2>
  <p>Your order has been confirmed. We’ve sent a confirmation email with order details.</p>
    
  <div class="order-summary">
    <div class="item">
      <span class="label">Order ID:</span>
      <span class="value">#ORD123456</span>
    </div>
    <div class="item">
      <span class="label">Payment:</span>
      <span class="value">Paid via UPI</span>
    </div>
    <div class="item">
      <span class="label">Estimated Delivery:</span>
      <span class="value">15 Nov 2025</span>
    </div>
  </div>
  <!-- <button class="continue-btn" (click)="closePopup()">Continue Shopping</button> -->
</div>
</app-pop-up>