<app-pop-up
  [isOpen]="true"
  (close)="false"
  animation="bottom"
>
  <div class="order-success-wrapper">

    <!-- Success Animation -->
    <div class="success-icon">
      <i class="bi bi-check-circle-fill"></i>
    </div>

    <!-- Text -->
    <h2 class="title">Payment Successful 🎉</h2>
    <p class="subtitle">
      Your payment has been received and your order is confirmed.
    </p>

    <!-- Order Info -->
    <div class="order-info">
      <div class="row">
        <span>Order ID</span>
        <strong>#{{ order }}</strong>
      </div>
      <div class="row">
        <span>Payment Status</span>
        <strong class="success-text">Paid</strong>
      </div>
    </div>
 <!-- routerLink="/orders/{{ order }}" -->
    <!-- Actions -->
    <div class="actions">
      <button class="btn btn-primary w-100">
        Track Order
      </button>

      <button
        class="btn btn-outline-secondary w-100"
        routerLink="/products"
      >
        Continue Shopping
      </button>
    </div>

    <!-- Info -->
    <p class="footer-note">
      A confirmation email has been sent to your registered email address.
    </p>

  </div>
</app-pop-up>