<div class="auth-wrapper">

  <div class="auth-card">

    <!-- TAB SWITCH -->
    <div class="auth-tabs">
      <button
        class="tab"
        [class.active]="activeTab() === 'login'"
        (click)="switchTab('login')"
      >
        Login
      </button>

      <button
        class="tab"
        [class.active]="activeTab() === 'register'"
        (click)="switchTab('register')"
      >
        Register
      </button>
    </div>

    <!-- SUCCESS / ERROR -->
    @if(success()){
      <p class="alert success">✔{{ success() }}</p>
    } @else if(error()) {
      <p class="alert error">⚠{{ error() }}</p>
    }

    <!-- ============================
          LOGIN TAB
    ============================= -->
    @if (activeTab() === 'login') {
      <form [formGroup]="loginForm" (ngSubmit)="login()"class="auth-form">

        <h2 class="title">Welcome Back 👋</h2>
        <p class="subtitle">Login to continue</p>

        <!-- Email -->
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-input"
            placeholder="Enter your email"
          />
        </div>

        <!-- Password -->
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-input"
            placeholder="Enter your password"
          />

          <!-- Forgot password link -->
          <div class="forgot-link">
            <a routerLink="/forgot-password">Forgot Password?</a>
          </div>
        </div>

        <!-- Button -->
        <button type="submit" class="btn-primary auth-btn">
          <span *ngIf="!isLoading()">Login</span>
          <span *ngIf="isLoading()">Please wait...</span>
        </button>
      </form>
    }
  

    <!-- ============================
          REGISTER TAB
    ============================= -->
    @if (activeTab() === 'register') {
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form">
      <h2 class="title">Create Account ✨</h2>
      <p class="subtitle">Join Shoppyness today</p>

      <!-- Name -->
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          class="form-input"
          formControlName="name"
          placeholder="Enter name"
        />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-input"
          formControlName="email"
          placeholder="Enter email"
        />
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label>Phone</label>
        <input
          type="text"
          maxlength="10"
          class="form-input"
          formControlName="phone"
          placeholder="Enter mobile number"
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-input"
          formControlName="password"
          placeholder="Enter password"
        />
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          class="form-input"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
        @if(getPasswordMatchError()) {
          <div class="password-error">
            Passwords do not match
          </div>
        }
      </div>

      <button type="submit" class="btn-primary auth-btn">
        @if (!isLoading()) {
          <span>Create Account</span>
        } @else {
          <span>Please wait...</span>
        }
      </button>
    </form>
    }
  </div>
</div>
