<div class="auth-wrapper">

  <div class="auth-card">
    <h2 class="title">Forgot Password 🔐</h2>
    <p class="subtitle">Enter your email to receive reset link</p>

    <form [formGroup]="forgotForm" (ngSubmit)="submit()" class="auth-form">

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-input" />
      </div>

      <button class="btn-primary auth-btn" type="submit">
        Send Reset Link
      </button>

      <p class="auth-link">
        Back to <a routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</div>
