<div class="order-tracking-container">
  <div class="order-header">
    <h2>Order Tracking</h2>
    <p>Order ID: <strong>{{orderId()}}</strong></p>
    <p>Estimated Delivery: <span class="date">{{estimatedDelivery()}}</span></p>
  </div>

  <div class="progressbar">
    <div class="progress" style="width: 60%;"></div>
  </div>

  <div class="timeline">
    @for (item of ORDER_STEPS(); track $index) {
      <div class="step" [class.completed]="item.completed">
        <div class="circle"></div>
        <div class="label">
          <h4>{{item.label}}</h4>
          <!-- <p>{{item.date}}</p> -->
        </div>
      </div>
    }
  </div>
</div>
