<div class="order-container">
<pre>{{ order() }}</pre>
  <!-- Header -->
  <div class="header">
    <button class="back-btn" routerLink="/my-account">←</button>
    <h2>Order Details</h2>
    <!-- <button class="help-btn">Help</button> -->
  </div>

  <!-- Delivery Details -->
  <section class="card">
    <h4>Delivery details</h4>
    <div class="row">
      <p class=""> <span class="icon">🏠</span> {{ order()?.customer?.address }}</p>
    </div>
    <div class="row">
      <p class=""><span class="icon">👤</span>{{ order()?.customer?.name }} · {{ order()?.customer?.phone }}</p>
    </div>
  </section>

  <!-- Price Details -->
  <section class="card">
    <h4>Price details</h4>
    <div class="price-row">
      <span>Listing price</span>
      <span class="strike">₹{{ order()?.pricing?.mrp }}</span>
    </div>

    <div class="price-row">
      <span>Selling price</span>
      <span>₹{{ order()?.pricing?.selling }}</span>
    </div>
    <hr />
    <div class="price-row total">
      <span>Total amount</span>
      <span>₹{{ order()?.pricing?.total }}</span>
    </div>

    <div class="payment">
      <span>Payment method</span>
      <strong>{{ order()?.paymentMethod  || 'Online'}}</strong>
    </div>

    <!-- <button class="invoice-btn" (click)="downloadInvoice()">
      ⬇ Download Invoice
    </button> -->
  </section>

  <!-- Order ID -->
  <section class="card order-id">
    <span>Order ID</span>
    <strong>{{ order()?.id }}</strong>
    <button (click)="copyOrderId()">📋</button>
  </section>

  @if (order()?.statusTimeline?.length > 0) {
  <!-- Status Timeline -->
    <section class="card">
      <h4>Order Status</h4>

      <div class="timeline">
        @for (step of order()?.statusTimeline; track $index) {
        <div
          class="timeline-item"
          [class.done]="step.done"
        >
          <div class="dot" [class.active]="step.done"></div>
          <div class="content">
            <strong>{{ step.label }}</strong>
            <p>{{ step.date }}</p>
          </div>
        </div>
      }
      </div>
    </section>
  }

</div>
