/* ============================
   GLOBAL THEME VARIABLES
============================ */

:root {
   --primary: #7C3AED;
  --primary-dark: #6D28D9;
  --primary-light: #A78BFA;
  --accent: #10B981;
  --bg-light: #F8FAFC;
  --bg-white: #FFFFFF;
  --text-dark: #1F2937;
  --text-white: #FFFF;
  --text-muted: #6B7280;
  --border: #E5E7EB;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.06);

  --radius: 14px;
  --radius-sm: 10px;
  --radius-lg: 20px;

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}

/* RESET */
body {
  background: var(--bg-light);
  font-family: 'Inter', sans-serif;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

/* Card Style */
.card {
  background: var(--bg-white);
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

/* Button Default */
.btn-primary {
  background: var(--primary);
  border-radius: var(--radius-sm);
  color: var(--text-white);
  border: none;
}

.btn-primary:hover {
  background: var(--primary-dark);
}
