<div class="checkout-page">
  <h2 class="page-title">Checkout</h2>
  <div class="layout">

    <!-- LEFT SIDE -->
    <div class="left-section">

      <!-- ADDRESS SECTION -->
      <section class="section-box">
        <div class="section-header">
          <h3>Delivery Address</h3>
          <button class="add-btn btn-primary" (click)="isAddressModalOpen.set(true)">+ Add New</button>
        </div>

        @if (addressList().length) {
          <div class="address-list">
            @for (a of addressList(); track a._id) {
              <label class="address-card" 
                     [class.active]="selectedAddressId() === a._id">
                <input type="radio"
                       name="address"
                       [checked]="selectedAddressId() === a._id"
                       (change)="selectAddress(a._id)" />

                <div class="info">
                  <h4>{{ a.fullName }}</h4>
                  <p>{{ a.line1 }}, {{ a.city }}, {{ a.state }} - {{ a.pincode }}</p>
                  <p class="phone">📞 {{ a.phone }}</p>
                </div>
              </label>
            }
          </div>
        } @else {
          <p class="no-address">No address found. Add your first address.</p>
        }
      </section>

      <!-- DELIVERY OPTIONS -->
      <section class="section-box">
        <h3>Delivery Options</h3>

        <label class="delivery-option" 
               [class.active]="deliveryType() === 'standard'">
          <input type="radio" name="delivery" value="standard"
                 (change)="deliveryType.set('standard')" />
          <div>
            <h4>Standard Delivery</h4>
            <p>Delivery in 3-5 days (Free)</p>
          </div>
        </label>

        <label class="delivery-option"
               [class.active]="deliveryType() === 'express'">
          <input type="radio" name="delivery" value="express"
                 (change)="deliveryType.set('express')" />
          <div>
            <h4>Express Delivery</h4>
            <p>Delivery in 24-48 hours (₹99)</p>
          </div>
        </label>
      </section>

      <!-- PAYMENT -->
      <section class="section-box">
        <h3>Payment Method</h3>
        <label class="payment-option"
               [class.active]="paymentMethod() === 'online'">
          <input type="radio" value="online" name="payment" [checked]="paymentMethod() === 'online'"
                 (change)="paymentMethod.set('online')" />
          <span>Online Payment (UPI / Card)</span>
        </label>
      </section>
    </div>

    <!-- RIGHT SUMMARY -->
    <div class="right-section">

      <div class="summary-box">
        <h3>Order Summary</h3>

        <div class="items">
          @for (item of cartItems(); track item.productId) {
            <div class="item">
              <!-- <pre>{{ item| json }}</pre> -->
              <img [src]="item?.product?.images[0].url" alt="product" />

              <div class="details">
                <h4>{{ item.name }}</h4>
                <p>Qty: {{ item.quantity }}</p>
                <strong>₹{{ item.price }}</strong>
              </div>
            </div>
          }
        </div>
        <!-- COUPON INPUT BOX -->
        <div class="coupon-box">
          <label for="coupon">Have a Coupon?</label>

          <div class="coupon-row">
            <input
              id="coupon"
              type="text"
              placeholder="Enter coupon code"
              [(ngModel)]="couponCode"
            />

            <button type="button" class="apply-btn btn-primary" (click)="applyCoupon()">
              Apply
            </button>
          </div>

          @if (couponError()) {
            <p class="coupon-error">{{ couponError() }}</p>
          }

          @if (couponSuccess()) {
            <p class="coupon-success">✔ {{ couponSuccess() }}</p>
          }
        </div>

        <div class="price-box">
          <div class="price-sub-row">
            <span>Subtotal</span> 
            <span>₹{{ subTotal() }}</span>
          </div>
          <!-- apply coupon -->
          @if (couponDiscount()) {
            <div class="price-sub-row">
              <span>Coupon ({{ couponCode }})</span>
              <span class="coupon-discounted">-₹{{ couponDiscount() }}</span>
            </div>
          }
          <div class="price-sub-row">
            <span>Shipping</span>
            <span>₹{{ deliveryType() === 'express' ? 99 : 0 }}</span>
          </div>

          <div class="total-row">
            <strong>Total Amount</strong>
            <strong>₹{{ totalAmount() + (deliveryType() === 'express' ? 99 : 0) }}</strong>
          </div>
        </div>

        <button class="place-btn btn-primary" (click)="placeOrder()">
          Place Order
        </button>
      </div>

    </div>
  </div>
<!-- ADD ADDRESS MODAL -->
  @if (isAddressModalOpen()) {
    <app-pop-up [isOpen]="true" (close)="isAddressModalOpen.set(false)" animation="bottom">
      <div class="address-form-wrapper">
        <form [formGroup]="addressForm">
          <!-- Row 1: Full Name + Phone -->
          <div class="field-row">
            <div class="field">
              <label for="fullName">Full Name</label>
              <input
                id="fullName"
                type="text"
                placeholder="e.g. Ishwar kale"
                formControlName="fullName" />
            </div>

            <div class="field">
              <label for="phone">Phone Number</label>
              <input
                id="phone"
                type="tel"
                placeholder="10-digit mobile"
                formControlName="phone" />
            </div>
          </div>
          <!-- Row 4: Address Line -->
          <div class="field-row">
            <div class="field full-width">
              <label for="line1">Address Line</label>
              <input
                id="line1"
                type="text"
                placeholder="House no, street, area"
                formControlName="line1" />
            </div>
          </div>
          <!-- Row 4: Address Line -->
          <div class="field-row">
            <div class="field full-width">
              <label for="line2">Address Line</label>
              <input
                id="line2"
                type="text"
                placeholder="House no, street, area"
                formControlName="line2" />
            </div>
          </div>
          <!-- Row 2: Pincode + City -->
          <div class="field-row">
            <div class="field">
              <label for="pincode">Pincode</label>
              <input
                id="pincode"
                type="text"
                placeholder="e.g. 400001"
                formControlName="pincode" />
            </div>

            <div class="field">
              <label for="city">City</label>
              <input
                id="city"
                type="text"
                placeholder="e.g. Mumbai"
                formControlName="city" />
            </div>
          </div>

          <!-- Row 3: State -->
          <div class="field-row">
            <div class="field full-width">
              <label for="state">State</label>
              <input
                id="state"
                type="text"
                placeholder="e.g. Maharashtra"
                formControlName="state" />
            </div>
          </div>

          <!-- Footer: Action Button -->
          <div class="modal-footer">
            <button
              type="submit" class="save-btn" (click)="saveAddress(); isAddressModalOpen.set(false);"
              [disabled]="addressForm.invalid">
              Save Address
            </button>
          </div>
        </form>
      </div>
    </app-pop-up>
  }
</div>
